ul{
    list-style: none;
}
.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.lang{
    margin-top: 15px;
}
.lang li{
    display: inline-block;
    padding: 0 5px;
    border-left: 1px solid #158cba;
    line-height: 16px;
}
.lang li:first-child{
    border-left: none;
}
.r-menu{
    min-height: 100px;
}
.r-menu li{
    height: 100%;
    text-align: center;
}
.r-menu li a{
    height: 100%;
    text-transform: uppercase;

}
.r-menu li a .fa{
    line-height: 32px;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 15px;
    line-height: 30px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    border-top: 3px solid #75CAEB;
    padding-top: 17px;
}
.panel-default>.panel-heading{
    border-bottom:1px solid #75CAEB;
    font-size: 20px;
    font-weight: bold;
}
.panel-body a{
    padding-bottom: 10px;
    padding-right: 5px;
}
.panel-body h4{
    margin-top: 0;
}
.panel-body a .fa{
    margin-left: 5px;
}
.r-block-item hr{
    width: 94%;
    height: 1px;
    background-color: #EAEAEA;
}
.r-block-item h4.r-prof,
.r-block-item h4.r-price{
    padding-left: 0;
    padding-right: 0;
}
footer {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid #75CAEB;
    background-color: #fff;
    font-size: 14px;
    -moz-box-shadow: 0px 10px 15px 7px rgba(0,0,0,.2);;
    -webkit-box-shadow: 0px 10px 15px 7px rgba(0,0,0,.2);;
    box-shadow: 0px 10px 15px 7px rgba(0,0,0,.2);}
footer .navbar-brand{
    padding: 0;
    margin-right: 10px;
}
footer .navbar-brand>img{
    width: 50px;
    margin-top: 0;
}
footer p{
    display: inline-block;
    line-height: 20px;
    font-size: 16px;
}
footer .fa{
    margin-right: 15px;
}
footer .navbar-text{
    display: block;
    margin: 0;
    font-size: 18px;
    color: #00B2CC;
    line-height: 45px;
}
.phone{
    font-size: 18px;
    display: inline-block;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.address{
    width: 250px;
}
.navbar-default .navbar-text a{
    font-size: 26px;
    color: #00B2CC;
    line-height: 70px;
}
.navbar-default .navbar-text a:hover{
    text-decoration: none;
}
.navbar-brand>img{
    width: 80px;
    margin-top: 0;
}

.address-block h3{
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}
#resume-form{
    padding: 0 20px;
}
#resume-form input,
#resume-form textarea,
#resume-form label,
#upload input,
#upload textarea,
#upload label{
    width: 48%;
    display: inline-block;
    margin-bottom: 15px;
}
#resume-form p,
#upload p{
    text-align: center;
}
#resume-form label,
#upload label{
    float: left;
}
#resume-form input,
#resume-form textarea,
#upload input,
#upload textarea{
    float: right;
}
#resume-form input[type=submit],
#upload input[type=submit]{
    float: none;
    width: 100%;
    font-size: 20px;
    text-transform: none;
}
a.main-resume{
    display: block;
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 4px solid #75CAEB;
}
a.main-resume:hover{
    border-bottom-width:2px;
}
.resume-block{
    margin-top: 10px;
}
#webstudio-slider{
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0, .15);
}
.nav-tabs .open>a,
.nav-tabs .open>a:focus,
.nav-tabs .open>a:hover,
.nav-tabs>li>a {
    border-color: #fff;
}
.nav-tabs{
    border-bottom: none;
}
.nav-tabs>li{
    margin-bottom: 0;
    margin-right: 2px;
    font-style: italic;
}
.nav-tabs>li>a{
    background-color: rgba(255, 255, 255, 0.70);
    margin-right: 0;
}
.panel-heading .fa{
    margin-right: 10px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
    border: none;
}
/*===================================================*/
.navbar-fixed-top{
    opacity: .9;
    border-right: none;
    bordr-left: none;
    padding-right: 20px;
    padding-left: 20px;
}
.navbar-fixed-top .navbar-nav>.active>a,
.navbar-fixed-top .navbar-nav>.active>a:focus,
.navbar-fixed-top .navbar-nav>.active>a:hover,
.navbar-fixed-top .navbar-nav>li>a:focus,
.navbar-fixed-top .navbar-nav>li>a:hover{
    border-top: 3px solid #75CAEB;
    padding-top: 7px;
}
.navbar-fixed-top .navbar-brand{
    padding: 10px;
}
.navbar-fixed-top .navbar-brand>img{
    width: 45px;
}
.navbar-fixed-top .navbar-text a{
    display: inline-block;
    font-size: 20px;
    color: #00B2CC;
    line-height: 40px;
    margin-top: -3px;
    margin-bottom: 0;
}
.navbar-fixed-top .r-menu{
    min-height: 60px;
}
.navbar-fixed-top .r-menu li a .fa{
    line-height: 20px;
}
.navbar-fixed-top .navbar-nav>li>a{
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.fix-height{
    min-height: 124px;
}
@media (max-width: 1200px) {
    .navbar-text{
        display: none;
    }
}
@media (max-width: 991px) {
    .nav>li>a {
        padding-left: 13px;
        padding-right: 13px;
    }
}
@media (max-width: 768px) {
    #resume-form{
        padding: 0;
    }
    #resume-form label, #upload label {
        width: 30%;
    }
    #resume-form input, #resume-form textarea, #upload input, #upload textarea {
        width: 66%;
    }
    label h4{
        font-size: 13px;
    }
    footer{
        padding-top: 10px;
    }
    footer .navbar-brand{
        display: none;
    }
    footer .navbar-text a{
        padding-left: 60px;
    }
    .navbar-brand>img {
        width: 40px;
        margin-top: -8px;
    }
    .fix-height{
        min-height: 50px;
    }
    .min-center{
        text-align: center;
    }
}
@media (max-width: 410px) {
    footer .fa-3x{
        display: none;
    }
    footer .navbar-text a{
        padding-left: 0;
    }
}
@media (max-width: 600px) {
    .nav-tabs>li{
        width: 24%;
    }
    .resume .nav-tabs>li{
        width: 40%;
    }
    .nav>li>a {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        min-height: 73px;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        min-height: 77px;
    }
}
